/* geral */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #70747a;
}

/* navbar */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.logo {
    width: 80px;
    height: 50px;
    padding-top: 23px;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover {
    color: blue;
}

.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 6px;
}

.navbar-items .default-btn:hover {
    color: black;
    background-color: green;
}

/* main */
.main-banner {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: black 3px 2px 2px;
}

.main-banner h1 {
    font-size: 58px;
}

.main-banner p {
    font-size: 36px;
}

/* services */
.services-container {
    padding: 5rem 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

/* icones */
.fa-shield-alt {
    color: blue;
}

.fa-rocket {
    color: red;
}

.fa-comments {
    color: orange;
}

.services-container h3 {
    margin-bottom: 25px;
}

/* distancia entre linhas */
.services-container p {
    line-height: 24px;
}

/* planos */
/* paddin para afastar da próxima, e alinhar ao centro */
.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

/* espaça os items igualmente */
.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul {
    padding: 0;
}

/* texto fica centralizado em cada li */
.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
    border-radius: 3px;
}

/* line-height centraliza na horizontal e vertical */
/* posição de relative fica por cima */
.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(65, 65, 255);
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-weight: bold;
    background-color: #202b34;
    padding: 50px 0;
}

.plan .plan-btn {
    background-color: #00acee;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    transition: 0.3s;
}

.plan .plan-btn:hover {
    background-color: #3b5998;
    color: black;
}

.plan .recommended {
    background-color: red;
}

.plan recommended:hover {
    background-color: red;
    color: black;
}

/* procurar dominio */
.seatchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}

.seatchdomain-container h2 {
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}

.seatchdomain-container p {
    color: #D5D5D5;
    font-size: 24px;
    margin-bottom: 25px;
}

.seatchdomain-container input {
    display: block;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
}

.seatchdomain-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.seatchdomain-container input[type="submit"] {
    background-color: #3b5998;
    padding: 15px 30px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    opacity: .8;
}

.seatchdomain-container input[type="submit"]:hover {
    opacity: 1;
}

/* formulario de contato */
.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #CCC;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
    resize: none;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #00acee;
    color: white;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 50px;
}

/* responsividade */

/* small laptops a partir de 1100px */
@media (max-width: 1100px) {

    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 3px;
    }

}

/* tablets */
@media (max-width: 900px) {
    .main-banner p {
        padding: 0 6rem;
    }

    .plan {
        margin: 1px;
    }

    .seatchdomain-container {
        padding: 2rem 4rem;
    }
}

/* celulares 578px*/
@media (max-width: 576px) {

    html,
    body {
        overflow-x: hidden;
    }

    .logo {
        display: none;
    }

    .navbar-items li {
        font-size: 12px;
        margin-top: 5px;
    }

    .main-banner p {
        padding: 0 2rem;
    }

    /* exibidos um abaixo do outro */
    .services-container ul {
        flex-direction: column;
    }

    .plans-container {
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }

    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .seatchdomain-container h2 {
        font-size: 27px;
    }

    .seatchdomain-container input[type="text"] {
        width: 100%;
    }

    .contact-container {
        padding: 3rem 2rem;
    }

    .contact-container input,
    .contact-container textarea {
        width: 100%;
        margin: 10px 0;
    }
}